<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../resources/css/procimagens.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<section class="secaoImagens">
				<div class="images">
					<div class="img1">
						<h3>Imagem 1</h3>
						<label class="btn" for="fileInput1">Escolher arquivo</label>
						<input type="file" class="carregarImagem" id="fileInput1" style="display:none">
						<canvas class="preview" id="img1Preview" willReadFrequently></canvas>
					</div>
					<div class="img2">
						<h3>Imagem 2</h3>
						<label class="btn" for="fileInput2">Escolher arquivo</label>
						<input type="file" class="carregarImagem" id="fileInput2" style="display:none">
						<canvas class="preview" id="img2Preview"></canvas>
					</div>
				</div>
				</section>
				<section class="op">
					<div class="botoesUp">
						<h3>Filtros Passa-Baixa</h3>
						<div class="selectWrapper">
							<select>
								<option>3X3</option>
							</select>
							<label>Kernel</label>
						</div>
						<button class="btn" id="realceMax">MAX</button>
						<button class="btn" id="realceMin">MIN</button>
						<button class="btn" id="realceMean">MEDIA</button>
						<button class="btn" id="mediana">MEDIANA</button>
						<div>
							<input type="number" id="posicaoOrdem" style="width: 60px;" min="0" max="8">
							<label>Posição Ordem</label>
						</div>
						<button class="btn" id="ordem">ORDEM</button>
						<button class="btn" id="suavConserv">SUAVIZACAO</button>
						<div>
							<input type="number" id="desvio" style="width: 60px;" min="0.1" max="5" step="0.1">
							<label>Desvio Padrão</label>
						</div>
						<button class="btn" id="gaussiano">GAUSSIANO</button>
					</div>
				</section>
				<section class="secaoResultado">
					<div class="resultImg">
						<h3>Resultado</h3>
						<canvas class="preview" id="resultPreview"></canvas>
					</div>
				</section>
				<section class="op">
					<div class="botoesOp">
						<h3>Técnicas Aritméticas</h3>
						<div>
							<input type="checkbox" id="checkConstante">
							<label>Usar segunda imagem</label>
						</div>
						<div>
							<input type="number" id="constante" style="width: 60px;" min="0" max="255">
							<label>Valor constante</label>
						</div>
						<button class="btn" id="adicao">Adição</button>
						<button class="btn" id="subtracao">Subtração</button>
						<button class="btn" id="multiplicacao">Multiplicação</button>
						<button class="btn" id="divisao">Divisão</button>
					</div>
					<div class="botoesOp">
						<h3>Operações Lógicas</h3>
						<button class="btn" id="logicand">AND</button>
						<button class="btn" id="logicor">OR</button>
						<button class="btn" id="logicnot">NOT</button>
						<button class="btn" id="logicxor">XOR</button>
					</div>
					<div class="botoesOp">
						<h3>Conversão / Inversão</h3>
						<button class="btn" id="converterCinza">RGB -> Cinza</button>
						<button class="btn" id="invHorizontal">Inv. Horizontal</button>
						<button class="btn" id="invVertical">Inv. Vertical</button>
						<button class="btn" id="girar180">Girar 180º</button>
						<button class="btn" id="limiarizacao">Limiarização</button>
					</div>
					<div class="botoesOp">
						<h3>Filtros Passa-Alta</h3>
						<div>
							<input type="radio" name="etapa" id="radioFinal" checked>
							<label for="radioFinal">Final</label>
							<input type="radio" name="etapa" id="radioX">
							<label for="radioX">Horiz</label>
							<input type="radio" name="etapa" id="radioY">
							<label for="radioY">Vert</label>
						</div>
						<div>
							<input type="checkbox" id="checkMediana">
							<label>Aplicar Mediana</label>
						</div>
						<div>
							<input type="checkbox" id="checkCinza">
							<label>RGB -> Cinza</label>
						</div>
						<button class="btn" id="prewitt">Prewitt</button>
						<button class="btn" id="sobel">Sobel</button>
						<button class="btn" id="laplaciano">Laplaciano</button>
					</div>
					<div class="botoesOp">
						<h3>Op. Morfológicas</h3>
						<div>
							<input type="radio" name="elemento" id="radioCruz" checked>
							<label for="radioCruz">Cruz</label>
							<input type="radio" name="elemento" id="radio3x3">
							<label for="radio3x3">3X3</label>
						</div>
						<button class="btn" id="dilatacao">Dilatação</button>
						<button class="btn" id="erosao">Erosão</button>
						<button class="btn" id="abertura">Abertura</button>
						<button class="btn" id="fechamento">Fechamento</button>
						<button class="btn" id="contorno">Contorno</button>
					</div>
					<div class="botoesOp">
						<h3>Outros</h3>
						<button class="btn" id="diferenca">Diferença</button>
						<div>
							<input type="number" id="blendfactor" style="width: 60px;" min="0" max="100">
							<label>Blend factor (%)</label>
						</div>
						<button class="btn" id="blending">Blending</button>
						<button class="btn" id="media">Média</button>
						<button class="btn" id="negativo">Negativo</button>
						<button class="btn" id="equalizacao">Equalização</button>
					</div>
				</section>

		</div>
	</body>
	<script src="../resources/js/procimagens.js"></script>
</html>

